@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

::-webkit-scrollbar {
    width: .75em;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

.jumbotron {
    background-color: #3E3E3E;
    color: #B3A78C;
    text-align: center;
    padding: 60px;
}

.jumbotron h1 {
    font-size: 60px;
}

.jumbotron p {
    font-size: 20px;
    letter-spacing: 10px;
    margin-top: -20px;
    /* font-style: italic; */
}

nav {
    background-color: rgba(244, 114, 43, .9);
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: #F6E7C1;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #3E3E3E;
    font-weight: bold;
}

main {
    overflow: auto;
    color: #3E3E3E;
    padding: 20px;
    /* background-color: #346751; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

article#world h2 {
    text-align: center;
    font-size: 2.5em;
}

article#world section {
    overflow: hidden;
    margin-top: 50px;
}

article#world div#forest {
    float: left;
    margin-right: 50px;
}

article#world .text-forest {
    text-align: justify;
    padding-right: 100px;
}

article#world .text-forest h3 {
    font-size: 1.5em;
}

article#characters h2 {
    text-align: center;
    font-size: 2.5em;
}

article#characters section {
    overflow: hidden;
    margin-top: 50px;
}

article#characters div#samurai {
    float: left;
    margin-right: 50px;
}

article#characters .text-samurai {
    text-align: justify;
    padding-right: 80px;
}

article#characters .text-samurai h3 {
    font-size: 1.5em;
}

article#characters div#fox {
    float: right;
    margin-left: 50px;
}

article#characters .text-fox {
    text-align: justify;
    padding-left: 80px;
}

article#characters .text-fox h3 {
    font-size: 1.5em;
}