@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

::-webkit-scrollbar {
    width: .75em;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

span {
    color: #F4722B;
}

header {
    display: inline;
}

.jumbotron {
    background-color: #3E3E3E;
    color: #B3A78C;
    text-align: center;
    padding: 100px;
}

.jumbotron h1 {
    font-size: 60px;
    margin: 0 auto;
}

.jumbotron p {
    font-size: 18px;
    letter-spacing: 10px;
    font-style: italic;
    margin: 0 auto;
}

.jumbotron h1 {
    animation: fade-in 2.5s ease-in;
}

.jumbotron p {
    animation: fade-in 5s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

nav {
    background-color: rgba(244, 114, 43, .9);
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: #F6E7C1;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
}

nav a:hover,
.on-article {
    border-bottom: 2px solid;
    font-size: 18px;
}

main {
    overflow: auto;
    color: #3E3E3E;
    padding: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    flex-basis: 100%;
}

.box-left {
    flex-basis: 25%;
}

.box-right {
    flex-basis: 75%;
}

.box-left-reverse {
    flex-basis: 75%;
}

.box-right-reverse {
    flex-basis: 25%;
}

.highlight {
    border-bottom: 4px solid #F4722B;
    width: fit-content;
    margin: 0 auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

article#world div#forest {
    overflow: hidden;
    text-align: center;
}

article#world h2 {
    text-align: center;
    font-size: 2.5em;
    margin: 0 auto;
}

article#world section {
    margin-top: 50px;
}

article#world .text-forest {
    text-align: justify;
    padding: 0 50px;
}

article#world .text-forest h3 {
    font-size: 1.5em;
}

article#characters div#samurai {
    overflow: hidden;
    text-align: center;
}

article#characters h2 {
    text-align: center;
    font-size: 2.5em;
    margin: 0 auto;
}

article#characters section {
    margin-top: 50px;
}

article#characters .text-samurai {
    text-align: justify;
    padding: 0 50px;
}

article#characters .text-samurai h3 {
    font-size: 1.5em;
}

article#characters div#fox {
    overflow: hidden;
    text-align: center;
}

article#characters .text-fox {
    text-align: justify;
    padding: 0 50px;
}

article#characters .text-fox h3 {
    font-size: 1.5em;
}

article#license h2 {
    text-align: center;
    font-size: 2.5em;
    margin: 0 auto;
}

article#license table {
    margin: 0 auto;
}

aside#creator h2 {
    text-align: center;
    font-size: 2.5em;
    margin: 0 auto;
}

.profile header {
    text-align: center;
}

.profile figcaption {
    font-weight: bold;
}

.profile img {
    height: 250px;
    border-radius: 10px;
}

aside#creator section {
    padding-left: 40px;
}

aside#creator section h3 {
    font-size: 1.5em;
    width: fit-content;
}

aside#creator section h3:hover {
    color: #F4722B;
}

aside#creator section h3::after {
    content: ' Enthusiast';
    color: #3E3E3E;
}

table {
    text-align: left;
    font-size: 1.1em;
}

table td,
table th {
    padding-bottom: 15px;
}

table td {
    padding-left: 50px;
}

table td a {
    text-decoration: none;
    color: #F4722B;
}

table td a:hover {
    font-weight: bold;
}

footer {
    background-color: #3E3E3E;
    color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    .box-left,
    .box-right {
        width: 100%;
        padding: 0;
        flex: 100%;
    }

    .jumbotron,
    nav {
        text-align: unset;
    }

    nav li {
        display: inline-block;
    }

    div#content h3 {
        text-align: center;
    }

    article#characters section.reverse {
        flex-direction: column-reverse;
    }

    aside#creator section.box-right {
        overflow-x: auto;
    }
}